name: Node CI

on: [push]

jobs:
  compile:

    runs-on: Agent-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '23'

      - name: Frontend compilation check 
        run: |
          cd client
          find . -name "*.js" -exec node --check {} +
      - name: Backend compilation check 
        run: |
          cd api 
          find . -name "*.js" -exec node --check {} +
  gitleaks-scan:
    runs-on: Agent-1
    needs: compile    
    steps: 
      - name: Checkout code
        uses: actions/checkout@v6

      - name: git-leaks setup
        uses: gitleaks/gitleaks-action@v2
      
      - name: Gitleaks scan
        run: |
          gitleaks detect --source ./client --exit-code 1
          gitleaks detect --source ./api --exit-code 1
            